button:hover{
    cursor: pointer;
}
.round-edge,.btn{
    border-radius: 10px;
}
.contact-items img{
    max-height:90px;
    margin:0 auto 30px auto;
}
.scrolllink:hover{
    cursor: pointer;
    background: #FFB612;
    color:#fff;
}
.btn-secondary {
    background-color: #FFB612 !important;
}
.btn-group input{
    height: 38px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .btn {
    height: 38px;
    line-height: 41px;
    padding: 0 30px 0 20px;
    position: relative;
}
.btn-group .btn .fa {
    position: absolute;
    top: 15px;
    right: 10px;
}
.ea-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-size: 0.81rem;
    padding: 20px;
}
.btn-ea-green,.btn-ea-green:hover{
    background-color:rgb(46, 125, 50);
    color:#fff;
}
.icn-home{
    color:rgb(46, 125, 50);
    font-size:40px;
}
.icn-large{
    font-size:40px;
}
.bg-ea-green .icn-home{
    background: #fff;
    font-size: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}
.credit-bg{
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 17px;
    font-size: 13px;
    line-height: 16px;
}
.bg-ea-green{
    background-color:rgb(46, 125, 50);
    color:#fff;
}
.green-bg{
    background-color: #719062;
    color:#fff;
}
.dark-grey-bg{
    background-color: #ddd;
}
.dark-grey-bg-2{
    background-color:#616161 ;
}
.light-grey-bg{
    background-color: #f5f5f5;
}
.light-bg{
    background-color:#fff;
}
.light-border{
    border: 1px solid #dee2e6;
}
.light-border-top{
    border-top: 1px solid #dee2e6;
}
.page-full-light{
    margin-top: -22px;
    background-color:#fff;
}
.page-full-padding{
    padding-top: 22px;
    padding-bottom:60px;
}
.page-full-light h1{
    font-size: 1.25rem;
    font-weight: bold;
}
.shadow-bg{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.border-light-radius{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
}
.bg-danger,.bg-primary{
    color:#fff;
}
.ea-list-p p{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    margin-bottom:15px;
}
.nav-item .btn-default {
    background-color: transparent !important;
}
.home-map .col{
    min-height:400px;
}
h5,.ea-content-full h1{
    font-weight:bold;
    font-size: 1.25rem;
}
.btn-lg .fa{
    font-size: 20px;
    position: absolute;
    left: 16px;
    top: 18px;
}
.btn.btn-lg{
    padding-left: 42px;
    padding-right: 22px;
    position: relative;
}
.text-link{
    text-decoration: underline;
}
.text-link-white,.text-link-white:hover{
    text-decoration: underline;
    color:#fff;
}
.text-white{
    color:#fff;
}
.text-link:hover{
    cursor: pointer;
    text-decoration: none;
}
.txt-small{
    font-size: 13px;
}
h6{
    font-weight:bolder;
}
.text-small{
    font-size:14px;
}
img{
    max-width:100%;
}
.ea-table{
    width:100%;
}
.ea-table td{
    border: 1px solid gainsboro;
    padding:10px;
}
.table-vul tr td.td-title,.td-title{
    background:#719062;
    color:#fff;
}
.table-vul td{
    background:#f5f5f5;
    padding:7px;
    border:0.5px solid #ccc;
    vertical-align: middle;
}
.table-vul td.td-positive{
    background:#719062;
    color:#fff;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    font-family: 'FontAwesome';
}
#ea-header,.ea-parent span:after,.scrolllink{
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
#muntable{
    display:none;
}
.statsTableHeader th{
    border-color:#2e7d32;
    background:#2e7d32;
    color:#fff;
}
.statsneg{
    background: #e4cdcd;
}
.statspos{
    background:#cde4ce;
}
.statsTableProvince{
    display:none;
}
.statsTableProvince.statsActive{
    display:table;
}
.statsTable .statsneg,.statsTable .statspos{
    position:relative;
}
.statsTable .statsneg:after,.statsTable .statspos:after{
    display:block;
    content: "\f062";
    font: normal normal normal 14px/1 FontAwesome;
    color:#2e7d32;/*cde4ce*/
    position: absolute;
    right: 6px;
    bottom: 19px;
}
.statsTable .statsneg:after{
    content: "\f063";
    color: #b32121; /*e4cdcd */
}
/* tabs */
.tab-child{
    display: none;
    padding-top: 20px;
}
.ea-tabs .tab-parent:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ea-tabs .tab-parent{
    border: 1px solid gainsboro;
    padding:10px;
    margin-bottom:0px;
    border-bottom: none;
}
.ea-tabs .tab-parent:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid gainsboro;
}
.ea-tabs .tab-parent h3{
    font-size:16px;
    margin-bottom: 0;
    font-weight: bold;
}
.ea-tabs .tab-parent h5{
    font-size: 16px;
    text-decoration: underline;
}
.ea-tabs .tab-parent h3:hover{
    cursor: pointer;
}
.md-tabs {
    background-color: #719062;
    color: #fff;
}
.tab-content>.tab-pane.show {
    display: block;
}
.dataTables_length .select-wrapper {
    margin-top: 7px;
}
.dataTable button,.dataTable .dataLink{
    background: #719062;
    border: 1px solid #719062;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 0.81rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dataTable button:hover,.dataTable .dataLink:hover{
    background: #004101;
    border: 1px solid #004101;;
}
.pagination .page-item.active .page-link {
    background-color: #719062;
}
/* Body */
#ea-body{
    background-color: #f5f5f5;
    position: absolute;
}
@media (min-width: 1400px){
    .cust1{
        max-width:970px
    }
}
@media (min-width: 768px){
    .ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper{
        width: 100%;
        max-width: 300px;
    }
    #mapsdistricts{
        margin-left: -200px;
        margin-top: 22px;
    }
    .districtsvg{
        overflow-x: hidden;
        margin-top: 25px;
    }
    #ea-body {
        padding-top: 148px;
    }
    .ea-content{
        padding: 0 20px;
    }
    .ea-content-full{
        padding: 0 35px;
    }
    .mpl-3{
        padding-left:40px;
    }
    .m-border-r{
        border-right: 1px solid rgba(0,0,0,.1);
    }
    .bg-image-bl{
        position: relative;
        padding-top: 80px;
        /* padding-bottom: 80px; */
    }
    .bg-imge-el{
        position: absolute;
        right: 50%;
        bottom: 0;
        top:0;
        height: auto;
        width: auto;
        max-width: none;
        max-height: 100%;
    }
    .text-large{
        font-size: 60px;
    }
    .ea-card{
        height: 100%;
    }
    .greenbg-4-8,.greybg-4-8,.dgreybg-4-8{
        position:relative;
    }
    .greenbg-4-8 .col-md-4,.dgreybg-4-8 .col-md-4{
        color:#fff;
    }
    .greenbg-4-8:before,.greybg-4-8:before,.dgreybg-4-8:before{
        display:block;
        content:" ";
        position: absolute;
        right: 66.666667%;
        background:rgb(46, 125, 50);
        left: -35px;
        top: -3rem;
        bottom: 0;
    }
    .greybg-4-8:before{
        background:#f5f5f5;
    }   
    .dgreybg-4-8:before{
        background:#616161;
    }
    .articleE{
        min-height:100px;
    }
    
}
/* Body END*/
/* header */
#ea-header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    margin-top:0px;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .dropdown-menu.show {
        transform: translate3d(0px, 45px, 0px)!important;
    }
    #ea-header.scrollnav,#ea-header.explorer-scrollnav{
        margin-top:-100px;
    }
    .full-explorer,.full-explorer iframe{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50px;
        height:100%!important;
        z-index:1;
    }
    .full-explorer #ea-body{
        padding-top:0;
    }
    .full-explorer .CSA-footer{
        display:none;
    }
    /* .scrollnavbody .explore-data {
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        /* padding:148px 0 0 0!important */
    /* }
    .scrollnavbody iframe{
        height: 100%!important;
        border: none;
        position: fixed;
        top:50px;
        bottom:0px;
    }  */
    .navbar-nav.ml-auto .dropdown-menu.show{
        left: auto!important;
        right: 0!important;
    }
    .nav-link{
        padding-top: 10px;
    }
    .nav-item input{
        margin-top: 4px;
    }
    .ea-content-full-height{
        margin-top: -20px;
    }
}
@media (min-width: 1460px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 20px;
    }
    .navbar-expand-md .navbar-nav  .ml-auto .nav-link {
        padding-right: .5rem;
    }
}
/* header END */
/* slider */
.ea-slider img{
    max-width:100%;
}
.carousel-multi-item .controls-top .btn-floating {
    background: #719062;
}
.carousel-multi-item .controls-top .btn-floating:hover {
    background: #004101;
}
.carousel-multi-item .carousel-indicators li {
    background-color: #719062;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #004101;
}
.carouselPager {
    margin-bottom: 0;
}
/* Footer */
@media (min-width: 768px){
    footer .container-fluid{
        padding-left: 45px!important;
        padding-right: 45px!important;
        font-size: 14px;
    }
    footer img{
        max-height: 100px;
    }
}
/* Footer END */
/* Home page */
.bg-hm-img{
    position:relative;
    margin: 0px 0 0px -35px;
}
.bg-hm-img .col-md-4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hm-bg-img{
    position:absolute;
    z-index:1;
    top: 0;
    bottom: 0;
    max-width: none;
    height: 100%;
    right: 0;
}
.hm-img{
    position:absolute;
    z-index:2;
    bottom:0;
    max-width:85%;
    left:0;
}
.hm-points{
    padding-top:60px;
    padding-bottom:60px;
}
.hm-points-line{
    position: absolute;
    background: #2e7d32;
    top: 40px;
    bottom: 40px;
    width: 3px;
    left: 10px;
}
.hm-points-line:before,
.hm-points-line:after{
    display:block;
    content:" ";
    background: #2e7d32;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -5px;
    top: -2px;
    position: absolute;
}
.hm-points-line:after{
    bottom: -2px;
    top: initial;
}
.hm-points .icn-home {
    position: absolute;
    top: 0;
    left: 28px;
    border: 3px solid #2e7d32;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 56px;
    text-align: center;
    font-size: 30px;
}
.hm-points .icn-home:after {
    position: absolute;
    content: " ";
    background: #2e7d32;
    height: 3px;
    width: 14px;
    left: -16px;
    top: 26px;
}
.hm-points h5{
    padding-top:19px;
}
.hm-points .col-10{
    padding-left: 30px;
}
.ea-home-maps img{
    max-width:100%;
    width:100%;
}
.ea-home-maps h5{
    padding-top:15px;
}
.ea-home-maps a:hover{
    background-color:#f9f9f9;
}
.hm-img-small{
    display:none;
}
@media (min-width: 768px){
    .ea-home-maps .col{
        width:20%;
    }
}
@media screen and (max-width: 1740px) and (min-width: 1640px){
    .bg-hm-img{
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .hm-points{
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
@media screen and (max-width: 1640px) and (min-width: 1280px){
    .bg-hm-img{
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .hm-points{
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .hm-points .btn {
        padding: 0.84rem 1.14rem;
    }
    .hm-points .col-10 {
        padding-left: 50px;
        padding-right: 0;
    }
    .hm-points .row{
        margin-bottom: 15px!important;
    }
    .hm-img-large{
        display:none;
    }
    .hm-img-small{
        display:block;
        bottom: 76px;
    }
    .hm-points {
        font-size: 14px;
        padding-right: 0;
        padding-left: 0;
    }
    .hm-points-line {
        left: 0px;
        z-index: 1;
    }

}
/* Home page END */
/* Side navigation */
.ea-side-nav{
    list-style: none;
    padding: 0;
}
.ea-side-nav li{
    padding: 5px 0 5px 15px;
    font-size: 15px;
}
.ea-side-nav li:hover{
    cursor: pointer;
}
.ea-parent span {
    position:relative;
}
.ea-parent span:after {
    display: block;
    position: absolute;
    top:6px;
    left: -19px;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transform: rotate(-90deg);
}
.ea-parent span.ea-open-child:after {
    transform: rotate(0deg);
}
.ea-child{
    display:none;
}
/* Side navigation END*/
/* map iframe */
.ea-map-frame{
    border: none;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}
.homemap{
    position: absolute;
    left: 15px;
    z-index: 1;
}
/* map iframe END */
.btn-tsuccess {
    background-color: #616161!important;
    border-color: #616161!important;
}
.btn-tsuccess:hover {
    background-color: rgb(46, 125, 50) !important;
    border-color: rgb(46, 125, 50) !important;
}

.btn-tsuccess-active {
    background-color: rgb(46, 125, 50) !important;
    border-color: rgb(46, 125, 50) !important;
}
/* overwrites */
.btn-success {
    background-color: rgb(46, 125, 50)!important;
    border-color: rgb(46, 125, 50)!important;
}
.btn-success:hover {
    background-color: #FFB612 !important;
    border-color: #FFB612 !important;
}

.btn-success-active {
    background-color: #FFB612 !important;
    border-color: #FFB612 !important;
}
.btn-light{
    background-color: #fff !important;
    border-color: #616161 !important;
}
/* map SVG */
#svg2 path {
    fill: #f5f5f5;
    stroke-width: 1;
    stroke: gainsboro;
}
#svg2 path:hover,#svg2 path.active-path {
    fill: #2e7d32;/*719062*/
    cursor: pointer;
}
/* Popup */
.ril-image-current{
    top: 10%;
    position: absolute;
    height: 80%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%)!important;
}
.ril-inner{
    background: rgba(0,0,0,0.5);
}
/* Support Form iFrame */
.supportFrame{
    border: none;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.supportToggle:hover{
    cursor: pointer;
}
@media (min-width: 576px){
    .supportFrame .modal-dialog {
        max-width: 550px;
        margin: 1.75rem auto;
    }
    .modalqgis .modal-dialog {
        max-width: 1000px;
    }
}
/* Support for nav on small desktops */
@media screen and (max-width: 1590px) and (min-width: 769px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 15px;
        font-size: 14px;
        padding-top: 11px;
    }
    .ea-links li {
        margin-top: 9px;
    }
    .ea-links a {
        font-size: 14px;
    }
    .nav-item input {
        margin-top: 0px;
        max-width: 150px;
    }
}
/* Filter Table*/
.filterTable{
    position: relative;
    top: 0;
}
.filterTable #tableSmall_length select,
.tableSelect{
    margin-left: 10px;
    border: 1px solid #dee2e6;
    padding: 10px;
}
.tableSelect{
    display: block !important;
    position: absolute;
    left:100px;
    top: 10px;
}
.tableSelectFilter{
    position: absolute;
    top: 19px;
}
.filterTable #tableSmall_filter input{
    border: 1px solid #dee2e6;
    padding: 0 6px;
}
.filterTable #tableSmall_length label,
.filterTable #tableSmall_filter label{
    line-height: 39px;
}
.filterTable #record-filters label{
    margin-bottom: 0;
    line-height: 45px;
    margin-right: 10px;
}
.filterTable #record-filters .btn-primary{
    background-color: #f9f9f9!important;
    color: #000;
    margin: 0;
    line-height: inherit;
}
.filterTable #record-filters .btn-primary:hover,
.filterTable #record-filters .btn-primary.active{
    background-color: #719062!important;
    color:#fff;
}
@media (min-width: 768px){
    .filterTable #record-filters{
        position: absolute;
        z-index: 1;
    }
    .filterTable #tableSmall_length{
        float:right;
        min-width: 150px;
        margin-left: 20px;
    }
    .filterTable #tableSmall_length select{
        display: block!important;
        float: right;
    }
}

/* small value table */
table#tableSmall.dataTable thead tr th.sorting_desc,
table#tableSmall.dataTable thead tr th.sorting_asc,
table#tableSmall.dataTable thead tr th.sorting,
table#tableSmall.dataTable thead tr th
{
    padding-bottom:30px;
    padding-right:5px;
    padding-left:5px;
}
table.dataTable thead .sorting,
thead tr th{
    font-size: 12px;
    vertical-align: middle;
    line-height: 14px;
}
table#tableSmall.dataTable thead tr th.sorting_desc:before,
table#tableSmall.dataTable thead tr th.sorting_asc:before,
table#tableSmall.dataTable thead tr th.sorting:before,
table#tableSmall.dataTable thead tr th.sorting_desc:after,
table#tableSmall.dataTable thead tr th.sorting_asc:after,
table#tableSmall.dataTable thead tr th.sorting:after{
    position:absolute;
    bottom:5px;
    left:50%;
    margin-left:-7px;
}
#tableSmall tr td:first-child,
#tableSmall tr th:first-child{
    display:none;
}
/* Mobile View */
@media (max-width: 768px){
    .h1, h1 {
        font-size: 1.5rem;
    }
    #ea-header h5{
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0!important;
    }
    #ea-body {
        padding-top: 143px;
    }
    .hm-points-line,.hm-points .icn-home {
        display: none;
    }
    .hm-points {
        padding-top: 30px;
    }
    .hm-points .col-10 {
        padding-left: 0;
        padding-right: 0;
    }
    .hm-points .btn {
        padding: 10px;
    }
    .bg-hm-img {
        margin: 0;
        height: 251px;
    }
    .hm-bg-img {
        left: 0;
        width: 100%;
    }
    .hm-img {
        max-width: 100%;
    }
}
/* Map */
#mapsalocal path,
#mapsalocal polygon{
    fill: #f5f5f5;
    stroke-width: 1;
    stroke: #dcdcdc;
}
#mapsalocal path:hover,
#mapsalocal polygon:hover{
    fill: #719062;
    cursor:pointer;
}
/* Map styling */
.mapsalocal{
    max-width: 904px;
    margin-top: -50px;
}
#munlisting,#districtlisting{
    display:none;
    position: absolute;
    top: 38px;
    -webkit-box-shadow: 3px 10px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 10px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 3px 10px 5px 2px rgba(0,0,0,0.5);
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
#munlisting .list-link,
#districtlisting .list-link{
    float: right;
    border: 1px solid rgba(0,0,0,.125);
    padding: 3px 10px;
    margin: -5px -10px 0 0;
}
/* Map Tooltip */
.maptooltip{
    display:none;
}
.maptooltipinner{
    background: #333;
    color: #fff;
    height: 70px;
    width: 200px;
    margin: -70px 0 0 -70px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
    font-size: 12px;
    position: absolute;
    z-index: 1;
}
.maptooltipinner:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.maptooltipinner h6{
    font-size: 14px;
    margin: 0;
}
.maptooltipinner .btn{
    box-shadow: none;
    padding: 5px 15px;
    margin: 10px 0;
}
.districttooltip .maptooltipinner{
    height: 90px;
}
g.activepath path,
g.activepath polygon{
    fill:#333!important;
    opacity:1!important;
}

#mapsdistricts g.activepath path{
    fill:#FFB612!important;
}
#mapsdistricts path:hover{
    cursor: pointer;
}
/* width */
#munlisting::-webkit-scrollbar,
#districtlisting::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #munlisting::-webkit-scrollbar-track,
  #districtlisting::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  
  /* Handle */
  #munlisting::-webkit-scrollbar-thumb,
  #districtlisting::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  #munlisting::-webkit-scrollbar-thumb:hover,
  #districtlisting::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* #mapsalocal g[label="Musina"] polygon{
    fill: rgba(46, 125, 67, 0.91);
}
#mapsalocal g[label="Blouberg"] path{
    fill: rgba(46, 125, 67, 0.67);
}
#mapsalocal g[label="Lephalale"] path{
    fill: rgba(46, 125, 67, 0.3);
}
#mapsalocal g[label="Thulamela"] polygon{
    fill: rgba(46, 125, 67, 0.4);
}
#mapsalocal g[label="Makhado"] path{
    fill: rgba(46, 125, 67, 0.5);
}
#mapsalocal g[label="Molemole"] path{
    fill: rgba(46, 125, 67, 0.6);
}
#mapsalocal g[label="Aganang"] path{
    fill: rgba(46, 125, 67, 0.7);
}
#mapsalocal g[label="Mookgopong"] path{
    fill: rgba(46, 125, 67, 0.8);
}
#mapsalocal g[label="Collins_Chabane"] path{
    fill: rgba(46, 125, 67, 0.9);
}
#mapsalocal g[label="Greater_Giyani"] path{
    fill: rgba(46, 125, 67, 0.92);
}
#mapsalocal g[label="Greater_Letaba"] path{
    fill: rgba(46, 125, 67, 0.53);
}
#mapsalocal g[label="Maruleng"] path{
    fill: rgba(46, 125, 67, 0.45);
}
#mapsalocal g[label="Mogalakwena"] path{
    fill: rgba(46, 125, 67, 0.35);
}
#mapsalocal g[label="Polokwane"] path{
    fill: rgba(46, 125, 67, 0.25);
}
#mapsalocal g[label="Greater_Tzaneen"] path{
    fill: rgba(46, 125, 67, 0.84);
}
#mapsalocal g[label="Modimolle"] path{
    fill: rgba(46, 125, 67, 0.65);
}
#mapsalocal g[label="Thabazimbi"] path{
    fill: rgba(46, 125, 67, 0.75);
}
#mapsalocal g[label="Bela-Bela"] path{
    fill: rgba(46, 125, 67, 0.85);
}
#mapsalocal g[label="Ephraim_Mogale"] path{
    fill: rgba(46, 125, 67, 0.95);
}
#mapsalocal g[label="Elias_Motsoaledi"] path{
    fill: rgba(46, 125, 67, 0.21);
}
#mapsalocal g[label="Ba-Phalaborwa"] path{
    fill: rgba(46, 125, 67, 0.36);
}
#mapsalocal g[label="Lepele-Nkumpi"] path{
    fill: rgba(46, 125, 67, 0.31);
}
#mapsalocal g[label="Makhuduthamaga"] path{
    fill: rgba(46, 125, 67, 0.41);
}
#mapsalocal g[label="Greater_Tubatse"] polygon
{
    fill: rgba(46, 125, 67, 0.51);
} */